{% extends 'base.html.twig' %}

{% block title %}
    FAQ - {{ parent() }}
{% endblock %}

{% block header %}
    <h3>FAQ</h3>
{% endblock %}

{% block body %}
    <ol>
        <li>
            Annonce gratuite ? Oui
        </li>
        <li>
            Sans publicité ? Oui (au début)
        </li>
    </ol>
{% endblock %}