{% extends 'base.html.twig' %}

{% block title %}
    CGU - {{ parent() }}
{% endblock %}

{% block header %}
    <h3>CONDITIONS GENERALES D'UTILISATION DU SERVICE LEMEILLEURCOIN</h3>
{% endblock %}

{% block body %}
    <h5>PREAMBULE : DEFINITIONS</h5>

    <h5>ARTICLE 1 : OBJET</h5>

    <h5>ARTICLE : ACCEPTATION</h5>
    Tout utilisateur - Tout Annonceur déclare en accédant et utilisant le service LEMEILLEURCOIN, depuis le site internet et ou les application,
    avoir pris connaissance des présentes Conditions Générales d'Utilisation et accepter de ne pas utiliser d'autre sites internets proposant un service similaire.

{% endblock %}