{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'une annonce - {{ parent() }}
{% endblock %}

{% block header %}
    <h3>Saisie de votre annonce</h3>
{% endblock %}

{% block body %}

{% endblock %}
